/* --------------------
   Global Reset
--------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------------
   Base Styles
--------------------- */
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #fafafa;
  color: #1a1a1a;
  line-height: 1.6;
}


/* Active route */
.router-link-active {
  font-weight: 600;
}


